@font-face {
    font-family: 'Gill Sans Ultra Bold';
    src: url('../GILSANUB.TTF');
}

#root {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #00A6FB;
    font-family: 'Gill Sans Ultra Bold';
    font-weight: bolder;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2vh 0;
}

#footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: -2vh;
}

#footerContainer button {
    margin: 0.5rem;
    transition: all 0.1s ease-in-out;
}

#footerContainer button:hover {
    background-color: #FFF;
    transform: scale(1.1);
}

.flex {
    display: flex;
}

button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
}