.goal {
    display: flex;
    align-items: end;
    justify-content: space-between;

    width: 25rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 0.5rem;
    box-shadow: 1px 1px 10px #030027;
}

.goal.completed {
    color: gray;
}

.goal button {
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.goal button.completed {
    background-color: black;
    color: gray;
}

#textContainer {
    width: 75%;
}

#textContainer .flex {
    justify-content: center;
}

#textContainer .flex p {
    padding: 0 1rem;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .goal {
        width: 90%;
    }
}