body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0.2rem 0.2rem 0 black;
  background-color: #030027;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  box-shadow: 0.2rem 0.2rem 0 black;
}

.secondary {
  color: #FFF;
  background-color: #030027;
}

.primary {
  color: #FFF;
  background-color: #110d47;
}

.alternate {
  color: #FFF;
  background-color: #00A6FB;
}

.no-shadow {
  text-shadow: none;
  box-shadow: none;
}
